.container{
    width:450px;
    height:400px;
    border: 2px solid;
    border-radius: 9px;
    padding:10px;
    background-color: gray;
    
}
#enter{
    width:420px;
    height: 100px;
    border:2px solid; 
    border-radius: 9px; 
    background-color: white;
    font-size: 25px;
    padding: 9px;
    display: flex;
    align-items: center;  
}
#btns{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(4,1fr);
    row-gap: 10px;
    column-gap: 10px;
    padding-top: 10px;
}
.btn{
    background-color: rgb(2, 68, 2);
    color: white;
    font-size: 20px;
    border-radius:5px;
    border-style: none;
    padding: 10px;
    cursor: pointer;
}
.btn:hover {
  transform: scale(0.95);
}